<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <h1>Admin's Menu</h1>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user/create';">CREATE USER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user';">RETRIEVE USER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user/update';">UPDATE USER</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user/profile/create';">CREATE USER PROFILE</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user/profile';">RETRIEVE USER PROFILE</button>
      <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/admin/user/profile/update';">UPDATE USER PROFILE</button>
    </div>
    <script></script>
  </body>

  </html>