<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/admin-create-user.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap" />
</head>

<body>
  <div class="admin-create-user-div">
    <img class="arrow-back-icon14" alt="" src="public/arrow-back14.svg" />
    <form class="group-form3" method="post">
      <b class="create-user-b">Create user</b>
      <div class="frame-div7"><b class="submit8">SUBMIT</b></div>
      <div class="frame-div8">
        <div class="name-div1">Name</div>
        <div class="line-div3"></div>
      </div>
      <div class="frame-div9">
        <div class="name-div1">Email</div>
        <div class="line-div3"></div>
      </div>
      <div class="frame-div10">
        <div class="name-div1">Password</div>
        <div class="line-div3"></div>
      </div>
    </form>
  </div>

  <script></script>
</body>

</html>