<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/admin-create-user-profile.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="admin-create-user-profile">
      <img class="arrow-back-icon13" alt="" src="public/arrow-back13.svg" /><b
        class="role-b1"
        >Role</b
      >
      <form class="group-form2" method="post">
        <b class="create-user-profile">Create user profile</b>
        <div class="frame-div5"><b class="submit7">SUBMIT</b></div>
        <div class="frame-div6">
          <b class="user-account-b1">User account:</b
          ><select class="item-1-select"></select>
        </div>
        <select class="item-2-select"></select>
      </form>
    </div>

    <script></script>
  </body>
</html>
