<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
</head>

<body>
  <div class="container">
    <h1>Admin's Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">CREATE USER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW USER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">EDIT USER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">CREATE USER PROFILE</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW USER PROFILE</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">EDIT USER PROFILE</button>
  </div>
  <script></script>
</body>

</html>