<%-include('partials/head.ejs')%>
  <link rel="stylesheet" href="./css/allocate.css" />
  </head>

  <body>
    <div class="container">
      <h1>Allocate Paper</h1>
      <div class="two-button-container">
        <button type="button" class="btn btn-primary btn-lg btn-block">
          <i class="fa-solid fa-computer-mouse"></i>
          <span class="btnText">Manual allocation of paper</span>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block" name="decision" value="reject">
          <i class="fa-solid fa-computer"></i>
          <span class="btnText">Automatic allocation of paper</span>
        </button>
      </div>
    </div>

    <script></script>
  </body>

  </html>