<%-include('partials/head.ejs')%>
  <link rel="stylesheet" href="./css/allocate.css" />
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/cc">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Paper to allocate</li>
        </ol>
      </nav>
      <h1>Allocate Paper</h1>
      <div class="two-button-container">
        <button type="button" onclick="window.location='/cc/allocate/manual'" class="btn btn-primary btn-lg btn-block">
          <i class="fa-solid fa-computer-mouse"></i>
          <span class="btnText">Manual allocation of paper</span>
        </button>
        <button type="button" onclick="window.location='/cc/allocate/auto'" class="btn btn-primary btn-lg btn-block">
          <i class="fa-solid fa-computer"></i>
          <span class="btnText">Automatic allocation of paper</span>
        </button>
      </div>
    </div>

    <script></script>
  </body>

  </html>