<%-include('partials/head.ejs')%>
  <link rel="stylesheet" href="./css/view-single-paper.css" />
  <script type="text/javascript" src="./js/view-single-paper.js"></script>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/cc">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Approve/Reject</li>
        </ol>
      </nav>
      <%-include('partials/view-single-paper.ejs')%>
        <form method="post">
          <div class="two-button-container">
            <button type="submit" class="btn btn-success btn-lg btn-block" name="decisions" value="approve">Approve</button>
            <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#confirmation">Reject</button>
            <%-include('partials/approve-reject-modal.ejs')%>
          </div>
        </form>
    </div>
    <script></script>
  </body>

  </html>