<!DOCTYPE html>
<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
</head>

<body>
  <div class="container">
    <h1>Author's Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">CREATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">EDIT PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">RATE REVIEWS</button>
  </div>

  <script></script>
</body>

</html>