<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/author.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="author-div">
      <div class="desktop-13">
        <div class="frame-div15"><b class="view-paper-b1">VIEW PAPER</b></div>
        <div class="frame-div16"><b class="view-paper-b1">RATE REVIEWS</b></div>
        <b class="menu-b4">Menu</b>
        <div class="frame-div17"><b class="view-paper-b1">EDIT PAPER</b></div>
        <div class="frame-div18"><b class="view-paper-b1">SUBMIT PAPER</b></div>
        <img class="logout-icon3" alt="" src="public/logout3.svg" />
      </div>
      <div class="desktop-17">
        <b class="view-papers-b4">View papers</b
        ><img class="arrow-back-icon31" alt="" src="public/arrow-back31.svg" />
        <div class="listbox-component-div">
          <div class="listbox-title-div">
            <div class="paper-selected-div">Paper selected</div>
          </div>
          <div class="listbox-main-div">
            <div class="listboxbg-div25"></div>
            <img class="chevron-icon" alt="" src="public/chevron.svg" />
            <div class="placeholder-text-div25">
              <div class="select-papers-div">Select Papers</div>
            </div>
          </div>
          <div class="clip-list-div">
            <div class="dropdown-list-div">
              <div class="item-1-div"><div class="div1">All</div></div>
              <div class="item-1-div"><div class="div1">Submitted</div></div>
              <div class="item-1-div"><div class="div1">Accepted</div></div>
              <div class="item-1-div"><div class="div1">Rejected</div></div>
            </div>
          </div>
        </div>
        <div class="component-div10">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">React native research paper</div>
          </div>
          <img
            class="submit-for-approval12"
            alt=""
            src="public/submit-for-approval@2x.png"
          />
        </div>
        <div class="component-div11">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">Cyber security paper</div>
          </div>
          <img
            class="submit-for-approval12"
            alt=""
            src="public/submit-for-approval@2x.png"
          />
        </div>
        <div class="component-div12">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">DDOS Protection</div>
          </div>
          <img class="thumbs-up-icon29" alt="" src="public/thumbs-up8@2x.png" />
        </div>
        <div class="component-div13">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">Random paper</div>
          </div>
          <img
            class="thumbs-up-icon29"
            alt=""
            src="public/thumbs-down@2x.png"
          />
        </div>
      </div>
      <div class="desktop-18">
        <b class="cyber-security-paper11">Cyber security paper</b
        ><b class="status-submitted-for-approval2"
          >Status:
          <span class="submitted-for-approval2">Submitted for approval</span></b
        ><b class="discussion-b4">Discussion</b
        ><img class="arrow-back-icon31" alt="" src="public/arrow-back32.svg" />
        <div class="lorem-ipsum-dolor-sit-amet-co8">
          <span class="lorem-ipsum-dolor-container9"
            ><p class="blank-line-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Convallis aenean et tortor at risus viverra adipiscing. Enim
              tortor at auctor urna nunc id cursus metus aliquam. Est placerat
              in egestas erat imperdiet sed. Mi sit amet mauris commodo quis
              imperdiet massa tincidunt nunc. At consectetur lorem donec massa
              sapien faucibus et. Suspendisse interdum consectetur libero id.
              Volutpat maecenas volutpat blandit aliquam. Imperdiet dui accumsan
              sit amet nulla. Diam ut venenatis tellus in metus vulputate eu
              scelerisque felis. Sollicitudin nibh sit amet commodo nulla
              facilisi nullam vehicula ipsum. Cras fermentum odio eu feugiat
              pretium nibh ipsum.
            </p>
            <p class="blank-line-p"></p>
            <p class="blank-line-p">
              Faucibus a pellentesque sit amet. Orci eu lobortis elementum nibh
              tellus molestie. Morbi tristique senectus et netus et malesuada.
              Nam libero justo laoreet sit amet cursus. Donec et odio
              pellentesque diam volutpat commodo. Ornare quam viverra orci
              sagittis. Vitae purus faucibus ornare suspendisse sed nisi lacus
              sed viverra. Sollicitudin nibh sit amet commodo nulla. Aliquet
              eget sit amet tellus cras adipiscing enim eu turpis. Ac turpis
              egestas sed tempus urna et. Elementum integer enim neque volutpat
              ac tincidunt vitae semper quis. Pulvinar pellentesque habitant
              morbi tristique senectus et netus et malesuada. Ut diam quam nulla
              porttitor massa id. Eget gravida cum sociis natoque penatibus.
              Erat pellentesque adipiscing commodo elit at imperdiet dui
              accumsan sit.
            </p>
            <p class="blank-line-p"></p>
            <p class="blank-line-p">
              Fusce id velit ut tortor pretium viverra suspendisse. Amet commodo
              nulla facilisi nullam vehicula. Sociis natoque penatibus et magnis
              dis parturient montes. Fermentum dui faucibus in ornare quam
              viverra orci. Id ornare arcu odio ut sem. Dignissim diam quis enim
              lobortis scelerisque. Lectus arcu bibendum at varius vel pharetra
              vel. Dolor sit amet consectetur adipiscing elit duis tristique
              sollicitudin. Arcu dui vivamus arcu felis bibendum ut tristique et
              egestas. Dui accumsan sit amet nulla. Bibendum neque egestas
              congue quisque egestas diam in arcu cursus. Felis imperdiet proin
              fermentum leo vel orci porta. Lorem mollis aliquam ut porttitor
              leo a. Nam aliquam sem et tortor consequat id.
            </p>
            <p class="blank-line-p"></p>
            <p class="tellus-in-metus7">
              Tellus in metus vulputate eu scelerisque felis imperdiet proin
              fermentum. Viverra justo nec ultrices dui sapien eget mi. Quam
              nulla porttitor massa id neque aliquam vestibulum. Magna sit amet
              purus gravida. Justo eget magna fermentum iaculis. Etiam erat
              velit scelerisque in dictum non consectetur a erat. Maecenas
              accumsan lacus vel facilisis volutpat est velit egestas. Commodo
              elit at imperdiet dui accumsan sit amet. Nibh cras pulvinar mattis
              nunc sed blandit libero volutpat sed. Viverra tellus in hac
              habitasse platea dictumst vestibulum rhoncus est. Amet facilisis
              magna etiam tempor orci eu lobortis elementum nibh. Amet luctus
              venenatis lectus magna fringilla urna porttitor rhoncus.
            </p></span
          >
        </div>
        <div class="john-ng-maecenas-accumsan-lac7">
          <span class="lorem-ipsum-dolor-container9"
            ><b>John Ng:</b
            ><span>
              Maecenas accumsan lacus vel facilisis volutpat est velit egestas.
              Commodo elit at imperdiet dui accumsan sit amet. Nibh cras
              pulvinar mattis nunc sed blandit libero volutpat sed. Viverra
              tellus in hac habitasse platea dictumst vestibulum rhoncus est.
              Amet facilisis magna etiam tempor orci eu lobortis elementum nibh.
              Amet luctus venenatis lectus magna fringilla urna porttitor
              rhoncus.</span
            ></span
          >
        </div>
        <div class="peter-bee-maecenas-accumsan-l4">
          <span class="lorem-ipsum-dolor-container9"
            ><b>Peter Bee:</b
            ><span>
              Maecenas accumsan lacus vel facilisis volutpat est velit egestas.
              Commodo elit at imperdiet dui accumsan sit amet.</span
            ></span
          >
        </div>
        <img
          class="thumbs-up-icon30"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon31"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon32"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon33"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img class="thumbs-up-icon34" alt="" src="public/thumbs-up@2x.png" />
      </div>
      <div class="desktop-15">
        <b class="submit-paper1">Submit paper</b
        ><img class="arrow-back-icon31" alt="" src="public/arrow-back33.svg" />
        <div class="frame-div19"><b class="view-paper-b1">SUBMIT</b></div>
        <div class="rectangle-div8"></div>
        <b class="title-b2">Title:</b>
        <div class="line-div11"></div>
      </div>
      <div class="desktop-16">
        <b class="cyber-security-paper11">Edit paper</b
        ><b class="title-b3">Title:</b>
        <div class="lorem-ipsum-div1">Lorem ipsum</div>
        <img class="arrow-back-icon31" alt="" src="public/arrow-back34.svg" />
        <div class="line-div11"></div>
        <div class="frame-div19"><b class="view-paper-b1">SUBMIT</b></div>
        <div class="group-div6">
          <div class="rectangle-div9"></div>
          <div class="lorem-ipsum-dolor-sit-amet-co9">
            <span class="lorem-ipsum-dolor-container9"
              ><p class="blank-line-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Convallis aenean et tortor at risus viverra adipiscing. Enim
                tortor at auctor urna nunc id cursus metus aliquam. Est placerat
                in egestas erat imperdiet sed. Mi sit amet mauris commodo quis
                imperdiet massa tincidunt nunc. At consectetur lorem donec massa
                sapien faucibus et. Suspendisse interdum consectetur libero id.
                Volutpat maecenas volutpat blandit aliquam. Imperdiet dui
                accumsan sit amet nulla. Diam ut venenatis tellus in metus
                vulputate eu scelerisque felis. Sollicitudin nibh sit amet
                commodo nulla facilisi nullam vehicula ipsum. Cras fermentum
                odio eu feugiat pretium nibh ipsum.
              </p>
              <p class="blank-line-p">&nbsp;</p>
              <p class="blank-line-p">
                Faucibus a pellentesque sit amet. Orci eu lobortis elementum
                nibh tellus molestie. Morbi tristique senectus et netus et
                malesuada. Nam libero justo laoreet sit amet cursus. Donec et
                odio pellentesque diam volutpat commodo. Ornare quam viverra
                orci sagittis. Vitae purus faucibus ornare suspendisse sed nisi
                lacus sed viverra. Sollicitudin nibh sit amet commodo nulla.
                Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Ac
                turpis egestas sed tempus urna et. Elementum integer enim neque
                volutpat ac tincidunt vitae semper quis. Pulvinar pellentesque
                habitant morbi tristique senectus et netus et malesuada. Ut diam
                quam nulla porttitor massa id. Eget gravida cum sociis natoque
                penatibus. Erat pellentesque adipiscing commodo elit at
                imperdiet dui accumsan sit.
              </p>
              <p class="blank-line-p"></p>
              <p class="tellus-in-metus7">
                Fusce id velit ut tortor pretium viverra suspendisse. Amet
                commodo nulla facilisi nullam vehicula. Sociis natoque penatibus
                et magnis dis parturient montes. Fermentum dui faucibus in
                ornare quam viverra orci. Id ornare arcu odio ut sem. Dignissim
                diam quis enim lobortis scelerisque. Lectus arcu bibendum at
                varius vel pharetra vel. Dolor sit amet consectetur adipiscing
                elit duis tristique sollicitudin. Arcu dui vivamus arcu felis
                bibendum ut tristique et egestas. Dui accumsan sit amet nulla.
                Bibendum neque egestas congue quisque egestas diam in arcu
                cursus. Felis imperdiet proin fermentum leo vel orci porta.
                Lorem mollis aliquam ut porttitor leo a. Nam aliquam sem et
                tortor consequat id.
              </p></span
            >
          </div>
        </div>
      </div>
      <div class="desktop-19">
        <b class="view-papers-b4">View papers</b
        ><img class="arrow-back-icon31" alt="" src="public/arrow-back35.svg" />
        <div class="listbox-component-div1">
          <div class="listbox-title-div">
            <div class="paper-selected-div">Paper selected</div>
          </div>
          <div class="listbox-main-div">
            <div class="listboxbg-div25"></div>
            <img class="chevron-icon" alt="" src="public/chevron.svg" />
            <div class="placeholder-text-div25">
              <div class="select-papers-div">Select Papers</div>
            </div>
          </div>
          <div class="clip-list-div">
            <div class="dropdown-list-div">
              <div class="item-1-div"><div class="div1">All</div></div>
              <div class="item-1-div"><div class="div1">Submitted</div></div>
              <div class="item-1-div"><div class="div1">Accepted</div></div>
              <div class="item-1-div"><div class="div1">Rejected</div></div>
            </div>
          </div>
        </div>
        <div class="component-div14">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">DDOS Protection</div>
          </div>
          <img class="thumbs-up-icon29" alt="" src="public/thumbs-up8@2x.png" />
        </div>
        <div class="component-div15">
          <div class="listboxbg-div25"></div>
          <div class="placeholder-text-div26">
            <div class="select-papers-div">Random paper</div>
          </div>
          <img
            class="thumbs-up-icon29"
            alt=""
            src="public/thumbs-down@2x.png"
          />
        </div>
      </div>
      <div class="desktop-20">
        <b class="cyber-security-paper12">Cyber security paper</b
        ><b class="discussion-b5">Discussion</b
        ><img class="arrow-back-icon31" alt="" src="public/arrow-back36.svg" />
        <div class="lorem-ipsum-dolor-sit-amet-co10">
          <span class="lorem-ipsum-dolor-container9"
            ><p class="blank-line-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Convallis aenean et tortor at risus viverra adipiscing. Enim
              tortor at auctor urna nunc id cursus metus aliquam. Est placerat
              in egestas erat imperdiet sed. Mi sit amet mauris commodo quis
              imperdiet massa tincidunt nunc. At consectetur lorem donec massa
              sapien faucibus et. Suspendisse interdum consectetur libero id.
              Volutpat maecenas volutpat blandit aliquam. Imperdiet dui accumsan
              sit amet nulla. Diam ut venenatis tellus in metus vulputate eu
              scelerisque felis. Sollicitudin nibh sit amet commodo nulla
              facilisi nullam vehicula ipsum. Cras fermentum odio eu feugiat
              pretium nibh ipsum.
            </p>
            <p class="blank-line-p"></p>
            <p class="blank-line-p">
              Faucibus a pellentesque sit amet. Orci eu lobortis elementum nibh
              tellus molestie. Morbi tristique senectus et netus et malesuada.
              Nam libero justo laoreet sit amet cursus. Donec et odio
              pellentesque diam volutpat commodo. Ornare quam viverra orci
              sagittis. Vitae purus faucibus ornare suspendisse sed nisi lacus
              sed viverra. Sollicitudin nibh sit amet commodo nulla. Aliquet
              eget sit amet tellus cras adipiscing enim eu turpis. Ac turpis
              egestas sed tempus urna et. Elementum integer enim neque volutpat
              ac tincidunt vitae semper quis. Pulvinar pellentesque habitant
              morbi tristique senectus et netus et malesuada. Ut diam quam nulla
              porttitor massa id. Eget gravida cum sociis natoque penatibus.
              Erat pellentesque adipiscing commodo elit at imperdiet dui
              accumsan sit.
            </p>
            <p class="blank-line-p"></p>
            <p class="blank-line-p">
              Fusce id velit ut tortor pretium viverra suspendisse. Amet commodo
              nulla facilisi nullam vehicula. Sociis natoque penatibus et magnis
              dis parturient montes. Fermentum dui faucibus in ornare quam
              viverra orci. Id ornare arcu odio ut sem. Dignissim diam quis enim
              lobortis scelerisque. Lectus arcu bibendum at varius vel pharetra
              vel. Dolor sit amet consectetur adipiscing elit duis tristique
              sollicitudin. Arcu dui vivamus arcu felis bibendum ut tristique et
              egestas. Dui accumsan sit amet nulla. Bibendum neque egestas
              congue quisque egestas diam in arcu cursus. Felis imperdiet proin
              fermentum leo vel orci porta. Lorem mollis aliquam ut porttitor
              leo a. Nam aliquam sem et tortor consequat id.
            </p>
            <p class="blank-line-p"></p>
            <p class="tellus-in-metus7">
              Tellus in metus vulputate eu scelerisque felis imperdiet proin
              fermentum. Viverra justo nec ultrices dui sapien eget mi. Quam
              nulla porttitor massa id neque aliquam vestibulum. Magna sit amet
              purus gravida. Justo eget magna fermentum iaculis. Etiam erat
              velit scelerisque in dictum non consectetur a erat. Maecenas
              accumsan lacus vel facilisis volutpat est velit egestas. Commodo
              elit at imperdiet dui accumsan sit amet. Nibh cras pulvinar mattis
              nunc sed blandit libero volutpat sed. Viverra tellus in hac
              habitasse platea dictumst vestibulum rhoncus est. Amet facilisis
              magna etiam tempor orci eu lobortis elementum nibh. Amet luctus
              venenatis lectus magna fringilla urna porttitor rhoncus.
            </p></span
          >
        </div>
        <div class="john-ng-maecenas-accumsan-lac8">
          <span class="lorem-ipsum-dolor-container9"
            ><b>John Ng:</b
            ><span>
              Maecenas accumsan lacus vel facilisis volutpat est velit egestas.
              Commodo elit at imperdiet dui accumsan sit amet. Nibh cras
              pulvinar mattis nunc sed blandit libero volutpat sed. Viverra
              tellus in hac habitasse platea dictumst vestibulum rhoncus est.
              Amet facilisis magna etiam tempor orci eu lobortis elementum nibh.
              Amet luctus venenatis lectus magna fringilla urna porttitor
              rhoncus.</span
            ></span
          >
        </div>
        <div class="peter-bee-maecenas-accumsan-l5">
          <span class="lorem-ipsum-dolor-container9"
            ><b>Peter Bee:</b
            ><span>
              Maecenas accumsan lacus vel facilisis volutpat est velit egestas.
              Commodo elit at imperdiet dui accumsan sit amet.</span
            ></span
          >
        </div>
        <img
          class="thumbs-up-icon36"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon37"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon38"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon39"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumbs-up-icon40"
          alt=""
          src="public/thumbs-up@2x.png"
        /><img
          class="thumb-up-alt-24px-icon"
          alt=""
          src="public/thumb-up-alt-24px.svg"
        /><img
          class="thumb-up-alt-24px-icon1"
          alt=""
          src="public/thumb-up-alt-24px.svg"
        /><img
          class="thumb-up-alt-24px-icon2"
          alt=""
          src="public/thumb-up-alt-24px.svg"
        /><img
          class="thumb-down-alt-24px-icon"
          alt=""
          src="public/thumb-down-alt-24px.svg"
        /><img
          class="thumb-down-alt-24px-icon1"
          alt=""
          src="public/thumb-down-alt-24px.svg"
        /><img
          class="thumb-down-alt-24px-icon2"
          alt=""
          src="public/thumb-down-alt-24px.svg"
        />
      </div>
    </div>

    <script></script>
  </body>
</html>
