<!DOCTYPE html>
<%- include('partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <h1>Author's Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location.href='/author/paper/submit'">CREATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold"onclick="window.location.href='/author/paper'">VIEW PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location.href='/author/paper/update'">EDIT PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location.href='/author/paper/rate'">RATE REVIEWS</button>
  </div>

</body>

</html>