<%- include('partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <h1>Conference Chair Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW PAPERS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">SEARCH BIDS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">SEARCH REVIEWERS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">RE-ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">DE-ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">ACCEPT/REJECT PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">NOTIFY USER</button>
  </div>
  <script>
  </script>
</body>

</html>