<%- include('partials/head.ejs') %>

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/c-c-view-single-paper.css" />
</head>

<body>
  
  <div class="container">
    <h1>Cyber Security Paper</h1>
    <div><b>Status:</b> <span class="underline">Submitted for approval</span></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Convallis aenean et tortor at risus viverra adipiscing. Enim tortor
      at auctor urna nunc id cursus metus aliquam. Est placerat in egestas
      erat imperdiet sed. Mi sit amet mauris commodo quis imperdiet massa
      tincidunt nunc. At consectetur lorem donec massa sapien faucibus et.
      Suspendisse interdum consectetur libero id. Volutpat maecenas
      volutpat blandit aliquam. Imperdiet dui accumsan sit amet nulla.
      Diam ut venenatis tellus in metus vulputate eu scelerisque felis.
      Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula
      ipsum. Cras fermentum odio eu feugiat pretium nibh ipsum.
    </div>
  </div>

  <script></script>
</body>

</html>