<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/c-c-manual-alloc.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="cc-manual-alloc-div">
      <img class="arrow-back-icon21" alt="" src="public/arrow-back21.svg" /><b
        class="not-allocated-b"
        >Not allocated...</b
      >
      <form class="group-form5" method="post">
        <b class="cyber-security-paper5">Cyber security paper</b>
        <div class="rectangle-div2"></div>
        <div class="rectangle-div3"></div>
        <div class="component-div">
          <div class="listboxbg-div14"></div>
          <div class="placeholder-text-div14">
            <div class="react-native-research-paper14">
              Search for reviewers...
            </div>
          </div>
          <img
            class="subdirectory-arrow-right"
            alt=""
            src="public/subdirectory-arrow-right.svg"
          />
        </div>
        <b class="allocated-b">Allocated...</b
        ><button class="double-arrow-button">
          <img class="group-icon" alt="" /><img
            class="group-icon1"
            alt=""
            src="public/group.svg"
          /></button
        ><button class="group-button">
          <div class="john-ng-div">John Ng</div>
          <div class="line-div8"></div></button
        ><button class="frame-button26"><b class="submit11">SUBMIT</b></button>
      </form>
    </div>

    <script></script>
  </body>
</html>
