<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
  </head>

  <body>
    <div class="container">
      <h1>View papers</h1>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <img class="icons" src="icons/uploaded.png" />
        </a>

      </div>
      <div></div>
    </div>

    <script>
      var arrowBackIcon = document.getElementById("arrowBackIcon");
      if (arrowBackIcon) {
        arrowBackIcon.addEventListener("click", function (e) {
          window.location.href = "./c-c-main-menu.html";
        });
      }
    </script>
  </body>

  </html>