<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/c-c-re-alloc.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="cc-re-alloc-div">
      <img class="arrow-back-icon23" alt="" src="public/arrow-back23.svg" />
      <form class="group-form7" method="post">
        <b class="cyber-security-paper7">Cyber security paper</b>
        <div class="rectangle-div6"></div>
        <div class="rectangle-div7"></div>
        <div class="component-div2">
          <div class="listboxbg-div16"></div>
          <div class="placeholder-text-div16">
            <div class="react-native-research-paper16">
              Search for reviewers...
            </div>
          </div>
          <img
            class="subdirectory-arrow-right2"
            alt=""
            src="public/subdirectory-arrow-right2.svg"
          />
        </div>
        <b class="not-allocated-b2">Not allocated...</b
        ><b class="allocated-b2">Allocated...</b
        ><button class="double-arrow-button2">
          <img class="group-icon4" alt="" /><img
            class="group-icon5"
            alt=""
            src="public/group2.svg"
          /></button
        ><button class="double-arrow-button3">
          <img class="group-icon6" alt="" /><img
            class="group-icon7"
            alt=""
            src="public/group1.svg"
          /></button
        ><button class="frame-button28"><b class="submit13">SUBMIT</b></button>
      </form>
    </div>

    <script></script>
  </body>
</html>
