<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/c-c-manual-alloc-main.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap" />
</head>

<body>
  <div class="cc-manual-alloc-main">
    <b class="manual-allocation-of-paper">Manual Allocation Of Paper</b><b class="select-paper-to-start-allocati">Select
      paper to start allocating...</b><img class="arrow-back-icon24" alt="" src="public/arrow-back24.svg" />
    <div class="component-div3">
      <div class="listboxbg-div17"></div>
      <div class="placeholder-text-div17">
        <div class="react-native-research-paper17">
          React native research paper
        </div>
      </div>
      <img class="submit-for-approval6" alt="" src="public/submit-for-approval@2x.png" />
    </div>
    <div class="component-div4">
      <div class="listboxbg-div17"></div>
      <div class="placeholder-text-div17">
        <div class="react-native-research-paper17">Cyber security paper</div>
      </div>
      <img class="submit-for-approval6" alt="" src="public/submit-for-approval@2x.png" />
    </div>
  </div>

  <script></script>
</body>

</html>