<%- include('partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <form method="post" action="/logout">
      <i class="fa-solid fa-right-from-bracket"></i>
    </form>
    <h1>Conference Chair Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/paper'">VIEW PAPERS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/search'">SEARCH BIDS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/allocate'">ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/re-allocate'">RE-ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/de-allocate'">DE-ALLOCATE PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/approve'">ACCEPT/REJECT PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/cc/notify'">NOTIFY USER</button>
  </div>
  <script>
  </script>
</body>

</html>