<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/index.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
</head>

<body>
  <div class="main-div">
    <div class="group-div">
      <div class="frame-div">
        <div class="research-conference-management">
          <span class="research-conference-management-container">
            <p class="lorem-ipsum-dolor">Research Conference Management</p>
            <p class="system-p">System</p>
          </span>
        </div>
        <div class="get-your-research-paper-review">
          Get your research paper reviewed by our experts today!
        </div>
        <button class="frame-button" autofocus id="frameButton">
          <div class="login-div">LOGIN</div>
        </button>
      </div>
      <div class="group-div1">
        <div class="frame-div1">
          <b class="lorem-ipsum-dolor-sit-amet-na"><span class="lorem-ipsum-dolor-container">
              <p class="lorem-ipsum-dolor">
                Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
                vel voluptatem voluptatem est quaerat voluptatem est illum sit
                sunt nihil? At debitis internos non fugiat voluptas nam culpa
                delectus est suscipit labore id voluptas possimus et accusamus
                natus. Aut quaerat nihil sed nisi dolor ut perferendis
                excepturi sed nulla quas. Et perspiciatis sunt ut nemo
                provident vel commodi animi non doloribus voluptatem vel ipsam
                modi ut dolore doloribus eum ipsam voluptatem.
              </p>
              <p class="lorem-ipsum-dolor"></p>
              <p class="lorem-ipsum-dolor">
                Aut assumenda adipisci est sint eveniet sed voluptas provident
                vel vitae exercitationem. Est facilis inventore est veritatis
                repudiandae et similique deserunt quo quia magni rem
                repudiandae libero qui commodi impedit? Et facilis voluptatum
                ut odit tempora rem omnis nesciunt et dolorem ducimus quo
                repudiandae repellendus et eligendi ipsa rem rerum laudantium.
              </p>
              <p class="lorem-ipsum-dolor"></p>
              <p class="lorem-ipsum-dolor">
                Ad voluptatem quod ea fugiat perspiciatis eum suscipit quaerat
                ut tenetur distinctio. Vel reprehenderit quidem est nemo
                exercitationem et quaerat quia in fugit omnis et iusto eaque
                qui dolores ratione.
              </p>
            </span></b>
        </div>
        <div class="frame-div2">
          <b class="lorem-ipsum-dolor-sit-amet-na">Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
            vel voluptatem voluptatem est quaerat voluptatem est illum sit
            sunt nihil? At debitis internos non fugiat voluptas nam culpa
            delectus est suscipit labore id voluptas possimus et accusamus
            natus. Aut quaerat nihil sed nisi dolor ut perferendis excepturi
            sed nulla quas. Et perspiciatis sunt ut nemo provident vel commodi
            animi non doloribus voluptatem vel ipsam modi ut dolore doloribus
            eum ipsam voluptatem.
          </b>
        </div>
        <div class="frame-div3">
          <b class="lorem-ipsum-dolor-sit-amet-na">Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
            vel voluptatem voluptatem est quaerat voluptatem est illum sit
            sunt nihil? At debitis internos non fugiat voluptas nam culpa
            delectus est suscipit labore id voluptas possimus et accusamus
            natus. Aut quaerat nihil sed nisi dolor ut perferendis excepturi
            sed nulla quas.
          </b>
        </div>
      </div>
    </div>
  </div>

  <script>
    var frameButton = document.getElementById("frameButton");
    if (frameButton) {
      frameButton.addEventListener("click", function (e) {
        window.location.href = "./login";
      });
    }
  </script>
</body>

</html>