<%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col firstCol text-center">
          <h2 class="font-weight-bold">Research Conference Management System</h2>
          <h4>Get your research paper reviewed by our experts today!</h4>
          <button id="loginBtn" class="btn btn-dark btn-block btn-lg">LOGIN</button>
        </div>
        <div class="col">
          <div class="wrapper">
            <div class="container-lg frame-div14">
              <b>
                Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
                vel voluptatem voluptatem est quaerat voluptatem est illum sit
                sunt nihil? At debitis internos non fugiat voluptas nam culpa
                delectus est suscipit labore id voluptas possimus et accusamus
                natus. Aut quaerat nihil sed nisi dolor ut perferendis excepturi
                sed nulla quas.
              </b>
            </div>
            <div class="center-elem">
              <div class="container-lg frame-div13">
                <b>
                  Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
                  vel voluptatem voluptatem est quaerat voluptatem est illum sit
                  sunt nihil? At debitis internos non fugiat voluptas nam culpa
                  delectus est suscipit labore id voluptas possimus et accusamus
                  natus. Aut quaerat nihil sed nisi dolor ut perferendis excepturi
                  sed nulla quas. Et perspiciatis sunt ut nemo provident vel commodi
                  animi non doloribus voluptatem vel ipsam modi ut dolore doloribus
                  eum ipsam voluptatem.
                </b>
              </div>
            </div>
            <div class="container-lg frame-div12">
              <b>
                Lorem ipsum dolor sit amet. Natus consequuntur vel esse dolore
                vel voluptatem voluptatem est quaerat voluptatem est illum sit
                sunt nihil? At debitis internos non fugiat voluptas nam culpa
                delectus est suscipit labore id voluptas possimus et accusamus
                natus. Aut quaerat nihil sed nisi dolor ut perferendis
                excepturi sed nulla quas. Et perspiciatis sunt ut nemo
                provident vel commodi animi non doloribus voluptatem vel ipsam
                modi ut dolore doloribus eum ipsam voluptatem.

                Aut assumenda adipisci est sint eveniet sed voluptas provident
                vel vitae exercitationem. Est facilis inventore est veritatis
                repudiandae et similique deserunt quo quia magni rem
                repudiandae libero qui commodi impedit? Et facilis voluptatum
                ut odit tempora rem omnis nesciunt et dolorem ducimus quo
                repudiandae repellendus et eligendi ipsa rem rerum laudantium.

                Ad voluptatem quod ea fugiat perspiciatis eum suscipit quaerat
                ut tenetur distinctio. Vel reprehenderit quidem est nemo
                exercitationem et quaerat quia in fugit omnis et iusto eaque
                qui dolores ratione.
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var frameButton = document.getElementById("loginBtn");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "./login";
        });
      }
    </script>
  </body>

  </html>