<%- include('partials/head.ejs') %>
</head>

<body>
  <div class="container">
    <h1>Reviewer's Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/reviewer/specify/max-no-of-paper'">SPECIFY MAXIMUM NUMBER OF PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW LIST OF PAPERS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/reviewer/bids/submit'">BID FOR PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='/reviewer/bids/remove'">REMOVE BID FOR PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">SUBMIT REVIEWS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">EDIT REVIEWS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">REMOVE REVIEWS</button>
  </div>
  <script></script>
</body>

</html>