<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/reviewers-submit-review.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="reviewers-submit-review-div">
      <b class="cyber-security-paper1">Cyber security paper</b
      ><img class="arrow-back-icon3" alt="" src="public/arrow-back3.svg" />
      <div class="lorem-ipsum-dolor-sit-amet-co1">
        <span class="lorem-ipsum-dolor-container1"
          ><p class="lorem-ipsum-dolor1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Convallis aenean et tortor at risus viverra adipiscing. Enim tortor
            at auctor urna nunc id cursus metus aliquam. Est placerat in egestas
            erat imperdiet sed. Mi sit amet mauris commodo quis imperdiet massa
            tincidunt nunc. At consectetur lorem donec massa sapien faucibus et.
            Suspendisse interdum consectetur libero id. Volutpat maecenas
            volutpat blandit aliquam. Imperdiet dui accumsan sit amet nulla.
            Diam ut venenatis tellus in metus vulputate eu scelerisque felis.
            Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula
            ipsum. Cras fermentum odio eu feugiat pretium nibh ipsum.
          </p>
          <p class="lorem-ipsum-dolor1"></p>
          <p class="lorem-ipsum-dolor1">
            Faucibus a pellentesque sit amet. Orci eu lobortis elementum nibh
            tellus molestie. Morbi tristique senectus et netus et malesuada. Nam
            libero justo laoreet sit amet cursus. Donec et odio pellentesque
            diam volutpat commodo. Ornare quam viverra orci sagittis. Vitae
            purus faucibus ornare suspendisse sed nisi lacus sed viverra.
            Sollicitudin nibh sit amet commodo nulla. Aliquet eget sit amet
            tellus cras adipiscing enim eu turpis. Ac turpis egestas sed tempus
            urna et. Elementum integer enim neque volutpat ac tincidunt vitae
            semper quis. Pulvinar pellentesque habitant morbi tristique senectus
            et netus et malesuada. Ut diam quam nulla porttitor massa id. Eget
            gravida cum sociis natoque penatibus. Erat pellentesque adipiscing
            commodo elit at imperdiet dui accumsan sit.
          </p>
          <p class="lorem-ipsum-dolor1"></p>
          <p class="lorem-ipsum-dolor1">
            Fusce id velit ut tortor pretium viverra suspendisse. Amet commodo
            nulla facilisi nullam vehicula. Sociis natoque penatibus et magnis
            dis parturient montes. Fermentum dui faucibus in ornare quam viverra
            orci. Id ornare arcu odio ut sem. Dignissim diam quis enim lobortis
            scelerisque. Lectus arcu bibendum at varius vel pharetra vel. Dolor
            sit amet consectetur adipiscing elit duis tristique sollicitudin.
            Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Dui
            accumsan sit amet nulla. Bibendum neque egestas congue quisque
            egestas diam in arcu cursus. Felis imperdiet proin fermentum leo vel
            orci porta. Lorem mollis aliquam ut porttitor leo a. Nam aliquam sem
            et tortor consequat id.
          </p></span
        >
      </div>
      <b class="reviews-b">Reviews</b
      ><textarea class="rectangle-textarea1"></textarea
      ><button class="frame-button1"><b class="submit1">SUBMIT</b></button
      ><button class="thumb-up-alt-24px-button3">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-up-alt-24px3.svg"
        /></button
      ><button class="thumb-up-alt-24px-button4">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-up-alt-24px3.svg"
        /></button
      ><button class="thumb-up-alt-24px-button5">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-up-alt-24px3.svg"
        /></button
      ><button class="thumb-down-alt-24px-button3">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-down-alt-24px3.svg"
        /></button
      ><button class="thumb-down-alt-24px-button4">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-down-alt-24px3.svg"
        /></button
      ><button class="thumb-down-alt-24px-button5">
        <img
          class="iconsocialthumb-up-alt-24px3"
          alt=""
          src="public/iconsocialthumb-down-alt-24px3.svg"
        />
      </button>
    </div>

    <script></script>
  </body>
</html>
