<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
</head>

<body>
  <div class="container">
    <h1>Specify Max No Of Paper</h1>
    <form method="post">
      <div class="form-group">
        <label for="maxNo">Max No Of Paper</label>
        <input type="number" name="maxno" class="form-control" id="inputTitle" placeholder="Enter no of paper" value="">
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
  </div>
  <script></script>
</body>

</html>