<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <title></title>
  <meta name="description" content="" />

  <link rel="stylesheet" href="./css/global.css" />
  <link rel="stylesheet" href="./css/reviewer-view-papers.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap" />
</head>

<body>
  <div class="reviewer-view-papers-div">
    <b class="view-papers-b">View papers</b><img class="arrow-back-icon7" alt="" src="public/arrow-back7.svg" /><button
      class="component-button2">
      <div class="listboxbg-div2"></div>
      <div class="placeholder-text-div2">
        <div class="react-native-research-paper2">
          React native research paper
        </div>
      </div>
      <img class="submit-for-approval2" alt="" src="public/submit-for-approval@2x.png" />
    </button><button class="component-button3">
      <div class="listboxbg-div2"></div>
      <div class="placeholder-text-div2">
        <div class="react-native-research-paper2">Cyber security paper</div>
      </div>
      <img class="submit-for-approval2" alt="" src="public/submit-for-approval@2x.png" />
    </button>
  </div>

  <script></script>
</body>

</html>