<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
</head>

<body>
  <div class="container">
    <h1>Reviewer's Menu</h1>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">SPECIFY MAXIMUM NUMBER OF PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">VIEW LIST OF PAPERS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">BID FOR PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">REMOVE BID FOR PAPER</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">SUBMIT REVIEWS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">EDIT REVIEWS</button>
    <button class="btn btn-primary btn-lg btn-block font-weight-bold">REMOVE REVIEWS</button>
  </div>
  <script></script>
</body>

</html>