<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/reviewer-main-menu.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="reviewer-main-menu-div">
      <button class="frame-button5">
        <b class="bid-for-paper">BID FOR PAPER</b></button
      ><button class="frame-button6">
        <b class="bid-for-paper">REMOVE BID FROM PAPER</b></button
      ><b class="menu-b">Menu</b
      ><button class="frame-button7">
        <b class="bid-for-paper">VIEW LIST OF PAPERS</b></button
      ><button class="frame-button8">
        <b class="bid-for-paper">SUBMIT REVIEWS</b></button
      ><button class="frame-button9">
        <b class="bid-for-paper">EDIT REVIEWS</b></button
      ><button class="frame-button10">
        <b class="bid-for-paper">REMOVE REVIEWS</b></button
      ><button class="frame-button11">
        <b class="bid-for-paper">SPECIFY MAXIMUM NUMBER OF PAPER</b></button
      ><img class="logout-icon" alt="" src="public/logout.svg" />
    </div>

    <script></script>
  </body>
</html>
