<%-include('partials/head.ejs')%>
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/cc">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Search bids</li>
            </ol>
            
          </nav>
    </div>
    <script></script>
  </body>

  </html>