<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/result.css">
  </head>

  <body>
    <div class="container">
        <div class="box">
            <h1>Success</h1>
            <img src="./img/success.svg">
            <button type="button" class="btn btn-primary btn-lg btn-block font-weight-bold" onclick="window.location='<%=link%>'">RETURN TO MAIN MENU</button>
        </div>
    </div>
    <script></script>
  </body>

  </html>