<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/view-single-paper.css" />
  <script type="text/javascript" src="./js/view-single-paper.js"></script>
  </head>

  <body>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%=titleOfPaper%></li>
        </ol>
      </nav>
      <%- include('partials/view-single-paper.ejs') %>
      
    </div>

    
  </body>

  </html>