<%- include('partials/head.ejs') %>
  </head>

  <body>
    <div class="container">
      <h1>View Users Profile</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row" data-href="url://">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>System Admin</td>
          </tr>
        </tbody>
    </div>

    <script>
      jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
          window.location = $(this).data("href");
        });
      });
    </script>
  </body>

  </html>