<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/view-single-paper.css" />
  </head>

  <body>
    <div class="container">
      <%- include('partials/view-single-paper.ejs') %>
    </div>

    <script></script>
  </body>

  </html>