<%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="./css/global.css" />
</head>

<body>
  <div class="container">
    <h1>View Users</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr onclick="window.location='#';">
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
  </div>

  <script></script>
</body>

</html>