body {
  margin: 0;
  line-height: normal;
}
.view-paper-b1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 140.63%;
  display: inline-block;
}
.frame-div15,
.frame-div16 {
  position: absolute;
  top: 431px;
  left: 103px;
  border-radius: var(--br-lg);
  background-color: var(--color-teal);
  width: 1234px;
  height: 69px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div16 {
  top: 529px;
}
.menu-b4 {
  position: absolute;
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  color: var(--color-black);
  width: 1069.23px;
}
.frame-div17,
.frame-div18 {
  position: absolute;
  top: 333px;
  left: 103px;
  border-radius: var(--br-lg);
  background-color: var(--color-teal);
  width: 1234px;
  height: 69px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div18 {
  top: 230px;
}
.desktop-13,
.logout-icon3 {
  position: absolute;
  top: 58px;
  left: 1287px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.desktop-13 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.view-papers-b4 {
  position: absolute;
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  width: 1069.23px;
}
.arrow-back-icon31 {
  position: absolute;
  top: 58px;
  left: 103px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.paper-selected-div {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.listbox-title-div,
.listboxbg-div25 {
  position: absolute;
  height: 6.92%;
  width: 90.91%;
  top: 0;
  right: 4.55%;
  bottom: 93.08%;
  left: 4.55%;
}
.listboxbg-div25 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.chevron-icon {
  position: absolute;
  height: 10.67%;
  width: 4.07%;
  top: 45.5%;
  right: 7.61%;
  bottom: 43.83%;
  left: 88.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}
.select-papers-div {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.placeholder-text-div25 {
  position: absolute;
  height: 33.33%;
  width: 65.71%;
  top: 33.33%;
  right: 28.57%;
  bottom: 33.33%;
  left: 5.71%;
}
.listbox-main-div {
  position: absolute;
  height: 20.76%;
  width: 90.91%;
  top: 9.69%;
  right: 4.55%;
  bottom: 69.55%;
  left: 4.55%;
  color: var(--color-gray-300);
}
.div1 {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
}
.item-1-div {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 44px;
  flex-shrink: 0;
  overflow: hidden;
}
.dropdown-list-div {
  position: absolute;
  width: 90.91%;
  top: 68px;
  right: 4.55%;
  left: 4.55%;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  opacity: 0;
}
.clip-list-div {
  position: absolute;
  height: 90.31%;
  width: 100%;
  top: 9.69%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.listbox-component-div {
  position: absolute;
  top: 208px;
  left: 103px;
  width: 308px;
  height: 289px;
  color: var(--color-gray-400);
}
.placeholder-text-div26 {
  position: absolute;
  height: 33.33%;
  width: 8.96%;
  top: 33.33%;
  right: 89.72%;
  bottom: 33.33%;
  left: 1.32%;
}
.submit-for-approval12 {
  position: absolute;
  top: 10px;
  left: 1155px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.component-div10,
.component-div11 {
  position: absolute;
  top: 335px;
  left: 117px;
  width: 1216px;
  height: 60px;
}
.component-div11 {
  top: 414px;
}
.thumbs-up-icon29 {
  position: absolute;
  height: 66.67%;
  width: 3.29%;
  top: 16.67%;
  right: 1.73%;
  bottom: 16.67%;
  left: 94.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-div12,
.component-div13,
.desktop-17 {
  position: absolute;
  top: 493px;
  left: 117px;
  width: 1216px;
  height: 60px;
}
.component-div13,
.desktop-17 {
  top: 572px;
}
.desktop-17 {
  top: 0;
  left: 4440px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
.cyber-security-paper11 {
  position: absolute;
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  width: 1069.23px;
}
.submitted-for-approval2 {
  text-decoration: underline;
}
.discussion-b4,
.status-submitted-for-approval2 {
  position: absolute;
  top: 230px;
  left: 82px;
  line-height: 140.63%;
  display: inline-block;
  width: 279px;
}
.discussion-b4 {
  top: 726px;
  left: 32px;
  font-size: var(--font-size-xl);
}
.tellus-in-metus7 {
  margin: 0;
}
.lorem-ipsum-dolor-container9 {
  line-break: anywhere;
  width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co8 {
  position: absolute;
  top: calc(50% - 259px);
  left: calc(50% - 608px);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1216px;
  height: 415px;
}
.john-ng-maecenas-accumsan-lac7,
.peter-bee-maecenas-accumsan-l4 {
  position: absolute;
  top: calc(50% + 256px);
  left: calc(50% - 609px);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1092px;
}
.peter-bee-maecenas-accumsan-l4 {
  top: calc(50% + 321px);
  left: calc(50% - 575px);
  width: 814px;
}
.thumbs-up-icon30 {
  position: absolute;
  height: 2.44%;
  width: 1.74%;
  top: 76.56%;
  right: 10.28%;
  bottom: 21%;
  left: 87.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumbs-up-icon31 {
  position: absolute;
  right: 7.78%;
  left: 90.49%;
  overflow: hidden;
}
.thumbs-up-icon31,
.thumbs-up-icon32,
.thumbs-up-icon33 {
  height: 2.44%;
  width: 1.74%;
  top: 81.05%;
  bottom: 16.5%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.thumbs-up-icon32 {
  position: absolute;
  right: 10.28%;
  left: 87.99%;
  overflow: hidden;
}
.thumbs-up-icon33 {
  right: 12.78%;
  left: 85.49%;
}
.desktop-18,
.thumbs-up-icon33,
.thumbs-up-icon34 {
  position: absolute;
  overflow: hidden;
}
.thumbs-up-icon34 {
  height: 2.44%;
  width: 1.74%;
  top: 76.56%;
  right: 7.78%;
  bottom: 21%;
  left: 90.49%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.desktop-18 {
  top: 0;
  left: 5920px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
}
.submit-paper1 {
  position: absolute;
  top: 127px;
  left: 185px;
  line-height: 140.63%;
  display: inline-block;
  width: 1069.23px;
}
.frame-div19 {
  position: absolute;
  top: 839px;
  left: 220px;
  border-radius: var(--br-lg);
  background-color: var(--color-teal);
  width: 1000px;
  height: 69px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
}
.rectangle-div8,
.title-b2 {
  position: absolute;
  left: 112px;
}
.rectangle-div8 {
  top: 276px;
  background-color: var(--color-white);
  width: 1216px;
  height: 466px;
}
.title-b2 {
  top: 224px;
  font-size: var(--font-size-base);
  line-height: 140.63%;
  display: inline-block;
}
.line-div11 {
  position: absolute;
  top: 244.5px;
  left: 151.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 176px;
  height: 3px;
}
.desktop-15 {
  position: absolute;
  top: 0;
  left: 1480px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  font-size: var(--font-size-3xl);
}
.lorem-ipsum-div1,
.title-b3 {
  position: absolute;
  display: inline-block;
}
.title-b3 {
  top: 224px;
  left: 112px;
  line-height: 140.63%;
}
.lorem-ipsum-div1 {
  top: 225px;
  left: 153px;
}
.rectangle-div9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1216px;
  height: 466px;
}
.blank-line-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lorem-ipsum-dolor-sit-amet-co9 {
  position: absolute;
  top: calc(50% - 219px);
  left: calc(50% - 589px);
  display: flex;
  align-items: center;
  width: 1178px;
}
.group-div6 {
  position: absolute;
  top: 276px;
  left: 112px;
  width: 1216px;
  height: 466px;
  text-align: left;
}
.desktop-16 {
  position: absolute;
  top: 0;
  left: 2960px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.listbox-component-div1 {
  position: absolute;
  top: 214px;
  left: 103px;
  width: 308px;
  height: 289px;
  color: var(--color-gray-400);
}
.component-div14,
.component-div15,
.desktop-19 {
  position: absolute;
  top: 323px;
  left: 112px;
  width: 1216px;
  height: 60px;
}
.component-div15,
.desktop-19 {
  top: 402px;
}
.desktop-19 {
  top: 1183px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
.cyber-security-paper12,
.discussion-b5 {
  position: absolute;
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  text-align: center;
  width: 1069.23px;
}
.discussion-b5 {
  top: 684px;
  left: 72px;
  font-size: var(--font-size-xl);
  width: 279px;
}
.lorem-ipsum-dolor-sit-amet-co10 {
  position: absolute;
  top: calc(50% - 301px);
  left: calc(50% - 568px);
  display: flex;
  align-items: center;
  width: 1216px;
  height: 415px;
}
.john-ng-maecenas-accumsan-lac8,
.peter-bee-maecenas-accumsan-l5 {
  position: absolute;
  top: calc(50% + 214px);
  left: calc(50% - 569px);
  display: flex;
  align-items: center;
  width: 1092px;
}
.peter-bee-maecenas-accumsan-l5 {
  top: calc(50% + 279px);
  left: calc(50% - 535px);
  width: 814px;
}
.thumbs-up-icon36,
.thumbs-up-icon37,
.thumbs-up-icon38,
.thumbs-up-icon39,
.thumbs-up-icon40 {
  position: absolute;
  height: 2.44%;
  width: 1.74%;
  top: 71.78%;
  right: 7.78%;
  bottom: 25.78%;
  left: 90.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumbs-up-icon37,
.thumbs-up-icon38,
.thumbs-up-icon39,
.thumbs-up-icon40 {
  top: 76.95%;
  right: 13.68%;
  bottom: 20.61%;
  left: 84.58%;
}
.thumbs-up-icon38,
.thumbs-up-icon39,
.thumbs-up-icon40 {
  right: 16.18%;
  left: 82.08%;
}
.thumbs-up-icon39,
.thumbs-up-icon40 {
  right: 18.68%;
  left: 79.58%;
}
.thumbs-up-icon40 {
  top: 71.78%;
  right: 5%;
  bottom: 25.78%;
  left: 93.26%;
}
.thumb-up-alt-24px-icon,
.thumb-up-alt-24px-icon1 {
  position: absolute;
  top: 898px;
  left: 729px;
  width: 40px;
  height: 40px;
}
.thumb-up-alt-24px-icon1 {
  left: 788px;
}
.thumb-down-alt-24px-icon,
.thumb-up-alt-24px-icon2 {
  position: absolute;
  top: 898px;
  left: 847px;
  width: 40px;
  height: 40px;
}
.thumb-down-alt-24px-icon {
  left: 670px;
}
.desktop-20,
.thumb-down-alt-24px-icon1,
.thumb-down-alt-24px-icon2 {
  position: absolute;
  top: 898px;
  left: 611px;
  width: 40px;
  height: 40px;
}
.desktop-20,
.thumb-down-alt-24px-icon2 {
  left: 552px;
}
.desktop-20 {
  top: 1183px;
  left: 1480px;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  text-align: left;
}
.author-div {
  position: relative;
  width: 100%;
  height: 2207px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
