body {
  margin: 0;
  line-height: normal;
}
.discussion-b {
  position: absolute;
  top: 684px;
  left: 72px;
  line-height: 140.63%;
  display: inline-block;
  width: 279px;
}
.arrow-back-icon15 {
  position: absolute;
  top: 58px;
  left: 103px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.cyber-security-paper3 {
  position: absolute;
  top: 0;
  left: 34px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  width: 1069.23px;
}
.lorem-ipsum-dolor3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.tellus-in-metus2 {
  margin: 0;
}
.john-ng-maecenas-accumsan-lac2,
.lorem-ipsum-dolor-sit-amet-co3 {
  position: absolute;
  font-size: var(--font-size-base);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
}
.lorem-ipsum-dolor-sit-amet-co3 {
  top: calc(50% - 321.5px);
  left: calc(50% - 607.5px);
  font-family: var(--font-roboto);
  width: 1216px;
  height: 415px;
}
.john-ng-maecenas-accumsan-lac2 {
  top: calc(50% + 193.5px);
  left: calc(50% - 608.5px);
  width: 1092px;
}
.peter-bee {
  font-family: var(--font-roboto);
}
.peter-bee-maecenas-container {
  line-break: anywhere;
  width: 100%;
}
.peter-bee-maecenas-accumsan-l {
  position: absolute;
  top: calc(50% + 258.5px);
  left: calc(50% - 574.5px);
  font-size: var(--font-size-base);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 814px;
}
.thumbs-up-icon3,
.thumbs-up-icon4,
.thumbs-up-icon5,
.thumbs-up-icon6,
.thumbs-up-icon7 {
  position: absolute;
  height: 3.08%;
  width: 2.05%;
  top: 74.97%;
  right: 3.29%;
  bottom: 21.95%;
  left: 94.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumbs-up-icon4,
.thumbs-up-icon5,
.thumbs-up-icon6,
.thumbs-up-icon7 {
  top: 81.5%;
  right: 10.27%;
  bottom: 15.41%;
  left: 87.67%;
}
.thumbs-up-icon5,
.thumbs-up-icon6,
.thumbs-up-icon7 {
  right: 13.23%;
  left: 84.72%;
}
.thumbs-up-icon6,
.thumbs-up-icon7 {
  right: 16.19%;
  left: 81.76%;
}
.thumbs-up-icon7 {
  top: 74.97%;
  right: 0;
  bottom: 21.95%;
  left: 97.95%;
}
.iconsocialthumb-up-alt-24px6 {
  position: relative;
  width: 36.67px;
  height: 33.33px;
}
.thumb-up-alt-24px-button6,
.thumb-up-alt-24px-button7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 771px;
  left: 578px;
  width: 40px;
  height: 40px;
}
.thumb-up-alt-24px-button7 {
  left: 637px;
}
.thumb-down-alt-24px-button6,
.thumb-down-alt-24px-button7,
.thumb-down-alt-24px-button8,
.thumb-up-alt-24px-button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 771px;
  left: 696px;
  width: 40px;
  height: 40px;
}
.thumb-down-alt-24px-button6,
.thumb-down-alt-24px-button7,
.thumb-down-alt-24px-button8 {
  left: 519px;
}
.thumb-down-alt-24px-button7,
.thumb-down-alt-24px-button8 {
  left: 460px;
}
.thumb-down-alt-24px-button8 {
  left: 401px;
}
.group-form4 {
  position: absolute;
  top: 127px;
  left: 151px;
  width: 1217px;
  height: 811px;
}
.author-rate-review-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
