body {
  margin: 0;
  line-height: normal;
}
.arrow-back-icon21 {
  position: absolute;
  top: 58px;
  left: 103px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.cyber-security-paper5,
.not-allocated-b {
  position: absolute;
  top: 344px;
  left: 214px;
  display: inline-block;
}
.cyber-security-paper5 {
  top: 0;
  left: 73px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  width: 1069.23px;
}
.listboxbg-div14,
.rectangle-div2,
.rectangle-div3 {
  position: absolute;
  top: 248px;
  left: 102px;
  background-color: var(--color-white);
  width: 409px;
  height: 466px;
}
.listboxbg-div14,
.rectangle-div3 {
  left: 717px;
}
.listboxbg-div14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.react-native-research-paper14 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-montserrat);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
}
.placeholder-text-div14 {
  position: absolute;
  height: 33.33%;
  width: 8.96%;
  top: 33.33%;
  right: 89.72%;
  bottom: 33.33%;
  left: 1.32%;
}
.subdirectory-arrow-right {
  position: absolute;
  top: 10px;
  left: 1160px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.component-div {
  position: absolute;
  top: 87px;
  left: 0;
  width: 1216px;
  height: 60px;
}
.allocated-b {
  position: absolute;
  top: 217px;
  left: 717px;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
}
.group-icon,
.group-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  height: 58.33%;
  width: 68.75%;
  top: 20.83%;
  right: 14.58%;
  bottom: 20.83%;
  left: 16.67%;
}
.double-arrow-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 385px;
  left: 560px;
  width: 96px;
  height: 96px;
  overflow: hidden;
}
.john-ng-div {
  position: absolute;
  top: 0;
  left: 23px;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.line-div8 {
  position: absolute;
  top: 47px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 410px;
  height: 1px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 269px;
  left: 102px;
  width: 409px;
  height: 47.5px;
}
.submit11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.frame-button26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: 784px;
  left: 108px;
  border-radius: var(--br-lg);
  width: 1000px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-form5 {
  position: absolute;
  top: 127px;
  left: 112px;
  width: 1216px;
  height: 853px;
}
.cc-manual-alloc-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
