body {
  margin: 0;
  line-height: normal;
}
.login-to-your-account {
  position: absolute;
  top: calc(50% - 264px);
  left: calc(50% - 535px);
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  width: 1069.23px;
}
.email-address-label,
.userusercom-input {
  position: absolute;
  left: calc(50% - 548px);
  line-height: 140.63%;
  text-align: left;
  display: inline-block;
}
.email-address-label {
  cursor: pointer;
  top: calc(50% - 40px);
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  color: var(--color-black);
  width: 313.39px;
}
.userusercom-input {
  border: 0;
  background-color: transparent;
  top: calc(50% - 2px);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: #232323;
  width: 1098px;
  opacity: 0.4;
}
.line-div9 {
  position: absolute;
  top: calc(50% + 38.5px);
  left: calc(50% - 551.5px);
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1103px;
  height: 3px;
}
.group-div2 {
  position: absolute;
  top: calc(50% - 138px);
  left: calc(50% - 550px);
  width: 1100px;
  height: 80px;
}
.input {
  border: 0;
  background-color: transparent;
  top: calc(50% - 2px);
  font-size: var(--font-size-xl);
  line-height: 140.63%;
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 1100px;
  opacity: 0.4;
}
.group-div3,
.input,
.password-label {
  position: absolute;
  left: calc(50% - 550px);
}
.password-label {
  cursor: pointer;
  top: calc(50% - 40px);
  font-size: var(--font-size-lg);
  line-height: 140.63%;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 215.95px;
}
.group-div3 {
  top: calc(50% - 28px);
  width: 1100px;
  height: 80px;
}
.login-b {
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.frame-button42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: calc(50% + 195px);
  left: calc(50% - 276px);
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-form {
  position: absolute;
  top: calc(50% - 264px);
  left: calc(50% - 550px);
  width: 1100px;
  height: 528px;
}
.login-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
}
