body {
  margin: 0;
  line-height: normal;
}
.cyber-security-paper {
  position: absolute;
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  display: inline-block;
  width: 1069.23px;
}
.arrow-back-icon {
  position: absolute;
  top: 58px;
  left: 103px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 0;
}
.tellus-in-metus {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  line-break: anywhere;
  width: 100%;
}
.lorem-ipsum-dolor-sit-amet-co {
  position: absolute;
  top: calc(50% - 298px);
  left: calc(50% - 608px);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1216px;
  height: 415px;
}
.comments-b {
  position: absolute;
  top: 660px;
  left: 112px;
  font-size: var(--font-size-xl);
  line-height: 140.63%;
  display: inline-block;
}
.john-ng-maecenas-accumsan-lac {
  position: absolute;
  top: calc(50% + 182px);
  left: calc(50% - 608px);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1092px;
}
.thumbs-up-icon,
.thumbs-up-icon1,
.thumbs-up-icon2 {
  position: absolute;
  height: 2.44%;
  width: 1.74%;
  top: 69.34%;
  right: 10.56%;
  bottom: 28.22%;
  left: 87.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thumbs-up-icon1,
.thumbs-up-icon2 {
  right: 13.33%;
  left: 84.93%;
}
.thumbs-up-icon2 {
  right: 7.78%;
  left: 90.49%;
}
.rectangle-div {
  position: absolute;
  top: calc(50% - 512px);
  left: calc(50% - 720px);
  background-color: rgba(0, 0, 0, 0.5);
  width: 1440px;
  height: 1024px;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1093px;
  height: 731px;
}
.john-ng-b {
  font-family: var(--font-roboto);
}
.john-ng-maecenas-accumsan-lac1,
.replying-to-b {
  position: absolute;
  color: var(--color-black);
  text-align: left;
}
.john-ng-maecenas-accumsan-lac1 {
  top: calc(50% - 250.5px);
  left: calc(50% - 511.5px);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 1023px;
}
.replying-to-b {
  top: 52px;
  left: 466px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-roboto);
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: calc(50% - 65.5px);
  left: calc(50% - 513.5px);
  width: 1027px;
  height: 182px;
}
.submit {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: calc(50% + 209.5px);
  left: calc(50% - 462.5px);
  border-radius: var(--br-lg);
  width: 926px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconsocialthumb-up-alt-24px {
  position: relative;
  width: 36.67px;
  height: 33.33px;
}
.thumb-up-alt-24px-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 223px;
  left: 556px;
  width: 40px;
  height: 40px;
}
.thumb-down-alt-24px-button,
.thumb-down-alt-24px-button1,
.thumb-down-alt-24px-button2,
.thumb-up-alt-24px-button1,
.thumb-up-alt-24px-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 223px;
  left: 615px;
  width: 40px;
  height: 40px;
}
.thumb-down-alt-24px-button,
.thumb-down-alt-24px-button1,
.thumb-down-alt-24px-button2,
.thumb-up-alt-24px-button2 {
  left: 674px;
}
.thumb-down-alt-24px-button,
.thumb-down-alt-24px-button1,
.thumb-down-alt-24px-button2 {
  left: 497px;
}
.thumb-down-alt-24px-button1,
.thumb-down-alt-24px-button2 {
  left: 438px;
}
.thumb-down-alt-24px-button2 {
  left: 379px;
}
.frame-form {
  position: absolute;
  top: calc(50% - 366px);
  left: calc(50% - 547px);
  width: 1093px;
  height: 731px;
}
.reviewers-comment-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
