body {
  margin: 0;
  line-height: normal;
}
.bid-for-paper {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.frame-button5,
.frame-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: 428px;
  left: 103px;
  border-radius: var(--br-lg);
  width: 1234px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-button6 {
  top: 526px;
}
.menu-b {
  position: absolute;
  top: 127px;
  left: 185px;
  line-height: 140.63%;
  display: inline-block;
  width: 1069.23px;
}
.frame-button10,
.frame-button11,
.frame-button7,
.frame-button8,
.frame-button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: 330px;
  left: 103px;
  border-radius: var(--br-lg);
  width: 1234px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-button10,
.frame-button11,
.frame-button8,
.frame-button9 {
  top: 624px;
}
.frame-button10,
.frame-button11,
.frame-button9 {
  top: 722px;
}
.frame-button10,
.frame-button11 {
  top: 820px;
}
.frame-button11 {
  top: 232px;
}
.logout-icon {
  position: absolute;
  top: 58px;
  left: 1287px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.reviewer-main-menu-div {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
