body {
  margin: 0;
  line-height: normal;
}
.specify-maximum-number-of-pape {
  top: 127px;
  left: 185px;
  font-size: var(--font-size-3xl);
  line-height: 140.63%;
  width: 1069.23px;
}
.div,
.maximum-number-of-papers-to-re,
.specify-maximum-number-of-pape {
  position: absolute;
  display: inline-block;
}
.maximum-number-of-papers-to-re {
  top: 239px;
  left: 419px;
  line-height: 140.63%;
}
.div {
  top: calc(50% - 15.5px);
  left: calc(50% - 6px);
  width: 12px;
}
.frame-div,
.line-icon {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100px;
  height: 3px;
}
.frame-div {
  top: 242px;
  left: 834px;
  height: 31px;
}
.arrow-back-icon8 {
  position: absolute;
  top: 58px;
  left: 103px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.submit4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 140.63%;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.frame-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-teal);
  position: absolute;
  top: 356px;
  left: 220px;
  border-radius: var(--br-lg);
  width: 1000px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewer-max-no-of-paper {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
